<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>User</title>
</head>
<body>
    <p th:text="${'Id: ' + user.getId()}">VALUE</p>
    <p th:text="${'Name: ' + user.getFirstName()}">VALUE</p>
    <p th:text="${'LastName: ' + user.getLastName()}">VALUE</p>
    <p th:text="${'Age: ' + user.getAge()}">VALUE</p>

    <p>Roles: </p>
    <p th:each="role : ${user.getRoles()}">
        <a th:text="${role.getName()}">user</a>
    </p>

    <br/>
    <form th:action="@{/logout}" method="get">
        <input type="submit" value="Logout"/>
    </form>
</body>
</html>